@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&display=swap");

:root {
  --primary-font: "Boldonse", sans-serif;
  --secondary-font: "Bodoni Moda", serif;
  --primary-color: #e0e0e0;
}

.fractal-orb-container {
  position: relative;
  cursor: none;
  width: 100%;
  min-height: 100vh; 
  overflow: hidden;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-container {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

