/* Контейнер компонента */
.noise-background-container {
  position: absolute; /* Используем fixed для фона, который всегда на месте */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  isolation: isolate;
  background-color: #111;
  pointer-events: none; /* Пропускаем события мыши, чтобы взаимодействовать с контентом */
}

/* Эффект шума */
.noise-effect {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-size: 300px 300px;
  animation: noise-animation 0.3s steps(5) infinite;
  opacity: 1;
  will-change: transform;
  z-index: 2;
  pointer-events: none;
}

@keyframes noise-animation {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-2%, -3%); }
  20% { transform: translate(-4%, 2%); }
  30% { transform: translate(2%, -4%); }
  40% { transform: translate(-2%, 5%); }
  50% { transform: translate(-4%, 2%); }
  60% { transform: translate(3%, 0); }
  70% { transform: translate(0, 3%); }
  80% { transform: translate(-3%, 0); }
  90% { transform: translate(2%, 2%); }
  100% { transform: translate(1%, 0); }
}

/* Canvas для Three.js */
.three-container canvas {
  display: block;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 3;
  pointer-events: none;
}